:root {
    --inter-tight-font-family: "Inter Tight", sans-serif;
  }
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


.inter-tight{
  font-family: var(--inter-tight-font-family);
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: n ormal;
}
.ParentHeaderDiv
{
    background-color: #000000;
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    
}
.Logo
{
    height: 50%;
    width: 50%;
}
.Links
{
    height: 50%;
    width: 50%;
}
.HeaderLinks
{
    display: flex;
    justify-content: space-evenly;
}
ul li a
{
    color:white;
   text-decoration: none;
   padding: 5px;
   font-family: var(--inter-tight-font-family) ;
   font-weight: 500;
}
ul li
{
    list-style-type:none;
   
   
}
.ImageFile
{
    padding: 10px;
    margin-left: 40px;
}
.Account
{
    padding: 7px;
    padding-left: 21px;
    padding-right: 31px ;
    text-align: center;
    background-color: white;
    border-radius: 5px;
}

.GridStructureParent
{
    display: flex;
    height: 700px;
    width: 100%;
    border: 10px solid white;

}
.Sidebar
{
    height: 100%;
    width: 50%;
    border: 10px solid white;
    background-color: #FFCCCC;
   
}
.Section1AndSection2Parent
{
    height: 100%;
    width: 50%;
    /* border: 2px solid blue; */
}
.Section1
{
    height: 50%;
    width: 100%;
    border: 10px solid white;
    background-color:  #FFD4C7;

}
.Section2
{
    height: 50%;
    width: 100%;
    background-color: #BAB9E2;
    border: 10px solid white;
}
.Section3Parent
{
    display: flex;
    height: 500px;
    width: 100%;
    border: 10px solid white;

}
.Section3
{
    height: 100%;
    width: 70%;
    background-color: #D7BDBD;
    border: 10px solid white;

    
    
}
.Section4
{
    height: 100%;
    width: 30%;
    background-color: #E1FFC3;
    border: 10px solid white;

     
}
.Section5Parent
{
    display: flex;
    height: 200px;
    width: 100%;
    border: 10px solid white;



}
.Section5
{
    height: 100%;
    width: 20%;
    background-color: #77DFF5;
    border: 10px solid white;
}
.Section6
{
    height: 100%;
    width: 80%;
    background-color: #D7D4BD;
    border: 10px solid white;
}
.Footer1
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    background-color: #000000;
    color: white;
    

}