@model Product

<h1>edit product</h1>

<form id="myform" method="post" >
    <input asp-for="ProductId" hidden />
    <label asp-for="Product_name"></label>
    <input asp-for="Product_name" id="Product_name" name="Product_name" />
    <span asp-validation-for="Product_name"></span>

    <label asp-for="Product_Price"></label>
    <input asp-for="Product_Price" id="Product_Price" name="Product_Price" />
    <span asp-validation-for="Product_Price"></span>

    <input type="submit" name="Update" id="Update" value="Update" />
    <a asp-action="Index" asp-controller="Product" class="btn btn-light">Back</a>

</form>