p::after{
    content: " After";
}
p::before{
    content: " Before";
}
.box{
   
    width: auto;
    height: auto;
    padding: 1rem;
    box-sizing: border-box;
    border: 2px solid gray;
    overflow: auto;
    scroll-behavior: smooth;
    flex-direction: row;

    }
p::first-letter{
    color:cornsilk;
}
p::first-line{
    color: blue;
}
