
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>add</title>
</head>
<body>
    <div>
        <form action="/product/add" method="post">
            <input type="text" name="id" />
            <input type="text" name="name" />
            <input type="text" name="price" />
            <input type="submit" name="submit" value="save"/>
        </form>
    </div>
    <div>
          <a href="/home/Index">Index</a>
    </div>
</body>
</html>
