
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <form action="/Student/Index" method="post">
            <label>Student Id</label>
            <input type="text" name="StudentId" id="StudentId" />

            <label>Student Name</label>
            <input type="text" name="StudentName" id="StudentName" />

            <label>Landamrk</label>
            <input type="text" name="Landmark" id="Address" />


            <label>Postcode</label>
            <input type="text" name="Postcode" id="Postcode" />


            <label>Contact</label>
            <input type="text" name="Contact" id="Contact" />

             <button>Submit</button>
        </form>


    </div>
</body>
</html>
