@model Model.Models.Products

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h1>@Model.ProductId</h1>
        <h1>@Model.ProductName</h1>
        <h1>@Model.ProductPrice</h1>
    </div>
</body>
</html>
