@{
    ViewBag.Title = "Home Page";
}

<main>
    <div id="" class="row">
        <div class="col-lg-4">
            <label>FirstName</label>
            <input type="text" name="FirstName" id="FirstName" />
        </div>
        <div class="col-lg-4">
            <label>LastName</label>
            <input type="text" name="LastName" id="LastName" />
        </div>
        <div class="col-lg-4">
            <label>Address</label>
            <input type="text" name="Address" id="Address" />
        </div>
        <input type="button" name="save"  id="save" value="save"/>
    </div>
</main>