* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: rgb(190 222 231 / 99%);
}

.table>:not(caption)>*>* {
    background-color: rgb(190 222 231 / 99%) !important;
}