*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

header{
    background-color: grey;
    color: antiquewhite;
    text-align: center;
    font-style: italic;
    width: 100%;
}
nav
{
    background-color: black;
    color: white;
    
}
nav ul li a
{
    text-decoration: none;
}
nav ul li
{
    margin-left: 50px;
    list-style: none;
}
