
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <form action="/home/Index1" method="post"> 
            <lable>Id</lable>
            <input type="text" name="StudentID" />

            <lable>Id</lable>
            <input type="text" name="StudentName" />

            <lable>PostalCode</lable>
            <input type="text" name="PostalCode" />

            <lable>Contact</lable>
            <input type="text" name="c" />

            <button>Submit</button>

        </form>

    </div>
</body>
</html>
