
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <form action="/home/Index" method="post">
            <label>ProductId</label>
            <input type="text" name="ProductId" id="ProductId" />

            <label>ProductName</label>
            <input type="text" name="ProductName" id="ProductName" />

            <label>Price</label>
            <input type="text" name="Price" id="Price" />

            <button>Submit
            </button>

        </form>
    </div>
</body>
</html>
