*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;   
}
.cards{
    height: 266px;
    background-color: white;
    border: 2px solid white;
    border-radius: 5px;
    box-shadow: 1px 1px 1px rgb(235, 221, 221);
    width: 70%;
}



.list_Style_custom
{
    margin-bottom: 5rem;
    font-size: 0.87rem;
}
.ulCustom
{
    list-style: none;
}

a
{
    color: white!important;


}

.minimum
{
    min-height: 100%;
    min-width: 500px;
}
.Achievments-Wrapper .About-clinic
{
    flex: 0 0 auto;
    width: 50%;
}
.Achievments-Wrapper h2
{
    color:black;
    font-weight: 900;
}
.Achievments-Wrapper h2
{
    color:black
}
.Achievments-Wrapper .card
{
    width: 80%;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.banner_wrapper
{
    background-image: url();
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
#Achievments
{
    background-color: rgb(194, 184, 184);
    background-size: cover;
}
.navbar.header-scrolled
{
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    z-index: 999;
    background-color: white;
    box-shadow: 0.5084rem 1.1419rem 2.5rem 0 rgb(0, 0, 0 / 8%);
    transition: 0.3s ease-in-out;
}
.header_wrapper .navbar
{
    padding: 0.9375rem 0;
    background-color: transparent;
    transition: 0.3s ease-in-out;
}
.header_wrapper .nav-item
{
    margin: 0 0.625rem;
}
.header_wrapper .navbar-toggler,
.header_wrapper .navbar-toggler:focus
{
    border:none;
    color:black;
    line-height: 2;
    box-shadow: none;
}
.header_wrapper .nav-item .nav-link
{
    font-size: 1.125rem;
    font-weight: 400;
    color:black;
    display:block;
}
.header_wrapper .nav-item .nav-link:hover,
.header_wrapper .nav-item .nav-link:focus
{
    color:aqua;

}
a{
    text-decoration: none;
}
.wrapper
{
    padding: 6.25rem;
}
.main-btn
{
    display: block;
    border:.0625rem solid white;
    color: black;
    text-align: center;
    padding: 0.75rem 1.375rem;
    font-size: 1rem;
    text-transform: capitalize;
    border-radius: 0.1875rem;
    transition:all 0.3s ease-in-out;
}
.main-btn:hover
{
    background-color: none;
    border-color:none;
    color:none

}
.fill-btn
{
    background-color: none;
    border-color :none;
    color:none;
}
.fill-btn:hover
{
    background-color: none;
    border-color:none;
    color:none;
}
h1
{
    font-size: 3.87rem5;
    margin-bottom: 1.25rem;
    font-weight: 600;
    color:white;
    
}
h2
{   
    font-size: 1.875rem;
 
    font-weight: 600;
    color:black;

}
h3
{   
    font-size: 1.5rem;
 
    font-weight: 600;
    color:black;

}
h4
{
    font-size: 1.5rem;
    line-height: 1.5;
    font-weight: 600;
    color:black;
   
}

h5
{
    font-size: 1.5rem;
    line-height: 1.5;
    font-weight: 500;
    color:black;
    margin-bottom:0.875rem;
   
}

h6
{
    font-size: 0.875;
    line-height: 1.2;
    font-weight: 300;
    color:black;
    margin-bottom:0.9375rem;
    text-transform:capitalize; 
}

p{
    font-size: 1rem;
    color: grey;
    line-height: 1.625rem;
}
.card
{
    border-radius: 0.625rem!important;
    background-color: white !important;
    box-shadow: 0.5084rem 1.1419rem 2.5rem 0 rgb(0, 0, 0 / 8%)!important;
    transition: all 0.4s!important;
    border:0!important;
    height: 100%;
}
@keyframes movebounce{
    0%{
        transform: translateY(0);
    }
    50%
    {
        transform: translateY(1.25rem);
    }
    100%
    {
        transform: translateY(0);
    }

}


@media (max-width:1199.5px){
    .card
    {
        padding:2.5rem
    }
}
@media (max-width:991px)
{
    .wrapper{
        padding: 3.125rem;
    }
    .main-btn{
        font-size: .875rem;
    }
    h1{
        font-size: 2.8125rem;
        margin-bottom: 0.625rem;
    }
    h2{
        font-size: 1.875rem;
        
    }

    h3{
        font-size: 1.56rem;
        
    }

    h4{
        font-size: 1.25rem;
    }     
    
    h5{
        font-size: 1.125rem;
        
    }
    p{
        font-size: 0.875rem;
        line-height: 1.35rem;
    }
    .card
    {
        padding: 1.875rem;
    }


    

}
@media (max-width:767)
{

    .main-btn{
        font-size: .875rem;
    } 
    h1{
        font-size: 1.125rem;
        margin-bottom: 2.5rem;
        
    }
    h5{
        font-size: 1rem;
        
    }  
}