@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <form id="myform" action="/home/insert" method="post">
        <label>FirstName</label>
        <input type="text" name="FirstName" id="FirstName" />
        <input type="submit" name="save" id="save" value="save"/>
    </form>

</div>
