@model List<ASD.Models.Book>    
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <table cellspacing="0" border="1" >
                <tr>
                        <th>id</th>
                        <th>names</th>
                        <th>price</th>
                        <th>produced</th>
                </tr>
            @foreach(var item in Model)
            {
                <tr>
                        <td>@item.id</td>
                        <td>@item.names</td>
                        <td>@item.price</td>
                        <td>@item.produced</td>
                </tr>
            }
        </table>
    </div>
</body>
</html>
