
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
<form action="/Product/Create" method="post">
    <label for="">Prodcut Id </label>
    <input type="text" name="ProductId" id="ProductId" />

    <label for="ProductName">ProductName</label>
    <input type="text" name="ProductName" id="ProductName" />

    <label for="ProductPrice">ProductPrice </label>
    <input type="text" name="ProductPrice" id="ProductPrice" />

    <button>Submit</button>

</form>